<div id="formHeader">
	<div id="logoTop"><%= image_tag("/seedImages/logo-urbanlists.png", :alt => "Logo", size: "160x100") %></div>
	<%= link_to 'Back', city_path(@list.city) %>
</div>
<div id="formBody">
	<%= render 'form' %>
</div>
