// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #FF8929;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color: #F5F5F5;
	border-color: #888585;
	border-style: solid;
    border-width: 1px;
    border-radius: 15px;
	max-width: 60%;
	min-width: 60%;
	font-family: 'Lato', sans-serif;
	min-height: 600px;
}
#logo
{
	display: inline;
	margin-left:auto;
	margin-right:auto;
}
#logo:hover{
	opacity: .7;
	-webkit-transition: all .9s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
}
#cityBody{
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color: #FFF9F5;
	max-width: 60%;
	min-width: 60%;
	font-family: 'Lato', sans-serif;
	min-height: 600px;
}
#cityBodyShow{
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color: #FFF9F5;
	max-width: 60%;
	min-width: 60%;
	font-family: 'Lato', sans-serif;
}
#cityBtn
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color: #C4C4C4;
	border-color: #888585;
	border-style: solid;
    border-width: 1px;
    border-radius: 15px;
	max-width: 60%;
	min-width: 60%;
	font-family: 'Lato', sans-serif;
	font-color: white;
	font-size: 2em;
}
#cityBtn1
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color: #C4C4C4;
	border-color: #888585;
	border-style: solid;
    border-width: 1px;
    border-radius: 15px;
	max-width: 60%;
	min-width: 60%;
	font-family: 'Lato', sans-serif;
	font-color: white;
	font-size: 2em;
}
#cityBtn.img
{
	width:5px;
}
#cityName{
	font-color: white;
}

#image{
	display: inline;
	margin-right: auto;
	margin-left: auto;
	max-width: 50px;
	max-height: 50px;
}
#logoTop{
	margin-left:10px;
}
#listBtn
{
	display:block;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color: #E0E0E0;
	border-color: #141414;
	border-bottom: 0px;
	border-top: 0px;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
	max-width: 60%;
	min-width: 60%;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  height: 400px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 640px;
}

span.text-content {
  background: rgba(0,0,0,0.3);
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 6em;
  cursor: pointer;
  display: table;
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 640px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
ul.img-list li:hover span.text-content {
  opacity: 1;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.link-inside-img:link { 
  color: white;
}
.link-inside-img:visited { 
  color: white;
}
.link-inside-img:hover { 
  color: white;
}
.link-inside-img:active { 
  color: white;
}

#notice{
	color: white; 
	font-family: 'Open Sans', sans-serif;
}

#userName{
	color: #FFE2BA; 
	font-family: 'Open Sans', sans-serif;
}

#header1{
	background-color: #DE6704;
	border-color: #AE4F00;
}

#slider{
	width: 640px;
	height: 400px;
	overflow: hidden;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#slider .slides{
	display: block;
	height: 400px;
	margin: 0;
	padding: 0;
}

#slider .slide{
	float: left;
	list-style-type: none;
	width: 640px;
	height: 400px;
}

.demo-2 {
    position:relative;
    width:300px;
    height:180px;
    overflow:hidden;
    float:left;
    margin-top: 20px;
    margin-left:15px;
    background-color:#3D3D3D;
}
.demo-2 p,.demo-2 a {
    color:#fff;
    padding:0px;
    left:-20px;
    top:20px;
    position:relative
}
.demo-2 a {
    font-size:30px;
    line-height:24px;
    margin:0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    color: #fff;
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-104px -130px;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-55px;
    padding-top:40px;
}
a.zero {
    margin:0;
    padding:0;
}

#select-language{
	margin-top: 5px;
	margin-left: 5px;
}
.linkToDescription
{
	margin-bottom:0px; 
}
.linkToDescription:link { 
  color: #3D3D3D;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}
.linkToDescription:visited { 
  color: #3D3D3D;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}
.linkToDescription:hover { 
  color: #CCCCCC;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}
.linkToDescription:active { 
  color: #3D3D3D;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}
#listSubtitle
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.4em;
	margin-top: 3px;
}

#descriptionBody{
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color: white;
	max-width: 60%;
	min-width: 60%;
	font-family: 'Lato', sans-serif;
	min-height: 600px;
}
#slider
{
	border-color: #FAC293;
	border-style: solid;
    border-width: 8px;
    border-radius: 15px;
    background-color: #FAC293;
}
#descriptionName{
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  margin: 0px;
  color: #028585;
}

#descriptionSubtitle{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  margin: 0px;
  color: #36AAAA;
}

#priceRange{
	font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 0px;
  color: #028585;
}
#detail, #address{
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}
#detail{
	font-size: 1.3em;
}

#formBody{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
	background-color: white;
	max-width: 40%;
	min-width: 40%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-bottom: 15px;
}
#formHeader{
	max-width: 40%;
	min-width: 40%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}