<%= form_for([@desc.list.city, @desc.list, @desc, @image]) do |d| %>
  <h1>New Image</h1>	
  <%= d.label :image_url %>
  <br>
  <%= d.text_field :image_url, required: true %>
  <br>

  <%= d.submit 'Save!' %>
<% end %>